# Paste your Base64 public key here for the Wails app
CLOUDFLARE_TUNNEL_LICENSE_PUBLIC_KEY=+5UW75dqz3E/OdHtaoaI/UBF7yfs9XoC3btogzS02kE=

# Paste your Base64 private key here only for local license signing
LICENSE_PRIVATE_KEY_BASE64=GabZySyZV2CqIuqK//r5J3N0G0r3kmc1yYtKvMJiJD37lRbv12rPcT850e1qhoj9QEXvJ+z1egLdu2iDNLTaQQ==
